@model HR_APP_V2.Models.WC_Inbox

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WC_Inbox</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InboxID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InboxID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Org_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Org_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Org_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Org_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hire_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hire_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work_Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work_Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injury_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injury_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injury_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injury_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOT_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOT_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injured_Body_Part)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injured_Body_Part)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Missing_Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Missing_Work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return_to_Work_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Return_to_Work_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctors_Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctors_Release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injury_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injury_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Witness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Witness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questioned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questioned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medical_History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical_History)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inbox_Submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inbox_Submitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialist_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialist_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Optional_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Optional_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Optional_Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Optional_Email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Optional_Email3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Optional_Email3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Optional_Email4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Optional_Email4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Add_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Add_User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.First_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
