@model PagedList.IPagedList<HR_APP_V2.Models.WC_Inbox>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center">WC Inbox Workflow</h2>

<p style="text-align: center">
    @Html.ActionLink("Create New", "EmployeeSelect")
</p>

@using (Html.BeginForm())
{
<p style="text-align: center">
    Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
</p>
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4" style="
        margin: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        border: 2px solid #000000;
        background: #c7c0c0;
        padding: 10px;
        width: 50%;
        height: 300px;
    ">
            <h2>@Html.DisplayFor(modelItem => item.ID)</h2>

            <div class="row">

                <div class="col-md-4">
                    <b>Employee Name:</b>
                    <p>
                        @Html.DisplayFor(modelItem => item.Employee.First_Name)  @Html.DisplayFor(modelItem => item.Employee.Last_Name)
                    </p>
                </div>

                <div class="col-md-4">
                    <b>Encova ID:</b>
                    <p>
                        @Html.DisplayFor(modelItem => item.EncovaID)
                    </p>
                </div>

                <div class="col-md-4">
                    <b>Injury Date:</b>
                    <p>
                        @Html.DisplayFor(modelItem => item.Injury_Date)
                    </p>
                </div>
                <!--End row 1-->
            </div>

            <div class="col-md-4">
                <b>Organization Number:</b>
                <p>
                    @Html.DisplayFor(modelItem => item.Org_Number)
                </p>
            </div>

            <div class="col-md-4">
                <b>Injury Type:</b>
                <p>
                    @Html.DisplayFor(modelItem => item.Injury_Type)
                </p>
            </div>


            <div class="col-md-4">
                <b>Status:</b>
                <p>
                    @Html.DisplayFor(modelItem => item.Status)
                </p>
            </div>

            <!--Options row-->
            <div class="row"></div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </p>
                </div>

                <div class="col-md-4">
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </p>
                </div>

                <div class="col-md-4">
                    <p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </p>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4">

                </div>

                <div class="col-md-4"></div>

                <div class="col-md-4">
                    <p>
                        @Html.ActionLink("Work", "Work", new { id = item.ID }, new { @class = "btn btn-primary btn-large" })
                    </p>
                </div>
            </div>

        </div>

    </div>

}

<p>
    @Html.ActionLink("Return to full list", "Index")
</p>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
